*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
 body{
    background-size: cover;
    background-image: url('https://media.gettyimages.com/id/175390897/photo/stack-of-colorful-books.jpg?s=612x612&w=gi&k=20&c=emwD_5W3LT2cazYIuH82NP1lsbZ5FmhpJHCaSKTO3Jg='); 
    
}
nav{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue; 
    color: white;
    font-size: 50px;
    height: 130px; 

}

#container {
    width:1380px;
    height: 1100px;
    padding: 22px;
    position: relative;
    top: 7rem;
    left: -400px;
    /* background-color:lightcoral;  */
    border-radius: 6px;
    margin: auto; 
}

#container input{
    height: 75px;
    width:50%;
    padding:12px; 
    padding-left:2rem; 
    border:none;
    outline:none; 
    font-size: 60px;
    border-radius:10px ;
    border: 5px solid black;
    background-color:lightgray;
}



#container i{
    font-size: 50px;
    padding-left:200px;
    margin-left: -300px; 
}


.searchBar{
    display: flex;
    gap:4px;
}


button{
    left:5rem;
    top:3px;
    bottom:75px;
    position: relative;
    height:75px;
    width:18%;
    border: 5px solid black;
    border-radius: 10px;
    font-size: 60px;
    cursor: pointer;
    color: white;
    background-color:orange;
}


.text{
    padding: 22px;
    margin-top: 22px;

}

h2{
    font-size: 60px;
}
.text p{
    margin-top: 45px;
    font-size: 50px;
    font-weight: normal;
}

text span{
    color: grey;
}




@media(max-width:400px){
    nav{
        height:90px;
        font-size: 15px;
    }
    #container{
        margin-top: -60px;
        height: 270px;
        margin-left:1000px; 
    }
    #container input{
        height:30px;
        width:10rem;
    }
    button{
        height:40px;
        width:70px;
        font-size: 8px; 
        margin-left:37px;
     
    }

    #container i{
        font-size: 20px;
        margin-left: -300px;

    }
    h2{
        font-size: 12px;
    }
    .text p{
        font-size: 10px;
        margin-top: 20px;
    }
    body{
        height: 300px;
    }  
} 






